name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      POSTGRES_DB: ${{ secrets.POSTGRES_DB }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build services
        run: docker compose build

      - name: Start services
        run: docker compose up -d

      - name: Wait for app to start
        run: sleep 5

      - name: Run health check test
        run: docker compose exec -T app npm test

      - name: Show logs if failed
        if: failure()
        run: docker compose logs

      - name: Stop services
        run: docker compose down
